:root {
    --color-black: #151c2d;
    --color-white: #ffffff;
    --color-orange: #fd762d;
    --color-orange-dark: #fd762d;
    --color-orange-soft: #fd9157;

    --color-primary: var(--color-black);
    --color-primary-soft: #6b707b;

    --color-grey: #e8e8ea;
    --color-grey-soft: #F5F5F7;
    --color-grey-hard: #cecfd2;

    --color-background: var(--color-white);
    --color-background-soft: #F9FAFB;
    --color-on-background: var(--color-black);
    --color-background-gradient-soft: rgba(253, 138, 77, 0.8);
    --color-background-gradient: linear-gradient(0deg,#fd762d 0%,#fdade6 100%);
    --color-sidebar-background-gradient: linear-gradient(0deg,#fd762d 0%,#fdade6 100%);

    --color-on-primary: var(--color-white);
    --color-on-background: var(--color-black);

    --color-red: #D92D20;
    --color-red-soft: #FECDCA;
    --color-red-hard: #B42419;
    
    --color-blue: #2970FF;
    --color-blue-soft: #D1E0FF;
    --color-blue-hard: #004EBB;
    --color-blue-tint-soft: rgba(41, 112, 255, 0.05);

    --color-yellow: #FEC84B;
    --color-yellow-soft: #FEF0C7;
    --color-yellow-hard: #F79009;
    
    --color-green: #32D583;
    --color-green-soft: #D1FADF;
    --color-green-hard: #039855;

    --color-purple: #8729c1;
    --color-purple-soft: #F7D8FF;
    --color-purple-hard: #4e0c77;

    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-soft: rgba(0, 0, 0, 0.05);

    --color-editor: #0d121e;

    --border-radius: 8px;
    --border-radius-inner: 6px;
    --border-radius-outer: 14px;

    --border-rounder-radius: 28px;
    --border-rounder-inner: 26px;
    --border-rounder-outer: 24px;

    --table-shadow: 0 2px 50px #cfcfcf4d;
}

[data-theme="dark"] {
    --color-black: #121721;

    --color-grey: #2b3245;
    --color-grey-soft: #252b3a;
    --color-orange: #fd762df5;
    --color-orange-dark: #fd762d0a;
    --color-orange-soft: #fd91570a;

    --color-primary: var(--color-white);
    --color-primary-soft: #304858;
    --color-background: var(--color-black);
    --color-background-soft: #1a1f2b;
    --color-background-gradient-soft: rgba(255, 255, 255, 0.233);
    --color-background-gradient: linear-gradient(0deg,#fd762d05 60%,#fdade607 100%);
    --color-sidebar-background-gradient: linear-gradient(0deg,#121721 60%,#121721 100%);


    --color-on-primary: var(--color-black);
    --color-on-background: var(--color-white);

    --color-shadow: var(--color-grey-soft);
    --color-shadow-soft: var(--color-black);

    --color-purple-soft: #4e0c77;
    --color-purple-hard: #d1a7ea;

    --table-shadow: 0 2px 0px #cfcfcf4d;
}
